<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Appuser $appuser
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Appusers'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Incidents'), ['controller' => 'Incidents', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Incident'), ['controller' => 'Incidents', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="appusers form large-9 medium-8 columns content">
    <?= $this->Form->create($appuser) ?>
    <fieldset>
        <legend><?= __('Add Appuser') ?></legend>
        <?php
            echo $this->Form->control('email');
            echo $this->Form->control('token');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
