// every page
html, body {
  height: 100%;
}

// header
 header {
   li {
     list-style: none;
     color: cornflowerblue;
   }
 }

// helps keep the footer at the bottom
.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

footer {
  background: grey;
  height: auto;

  .grid-x {
    padding: 1.5% 0% 1.55% 1%; // sets footer size

    .copyright {
      padding-left: 10%;
      color: white;
    }

    .links {
      a {
        color: white;
      }

      a:hover {
        color: cornflowerblue;
      }
    }
  }
}

// multiple pages

#actions-sidebar {
  border-right: cornflowerblue 3px solid;
  min-height: 767px; // hard coded min-height for border

  ul {
    list-style: none;
  }
}

// Cards - Login, Register, forgotPassword and resetPassword
.card {
  margin: 20% 0%;
}

// Maps
#googleMap {

}

// positioning for add, edit, view and index for each model
.incidents, .images, .users {
  padding: 2% 10% 2% 5%;
}

// email
.email-body {
  Border: red 3px solid;
}