html, body {
  height: 100%; }

header li {
  list-style: none;
  color: cornflowerblue; }

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px; }

footer {
  background: grey;
  height: auto; }
  footer .grid-x {
    padding: 1.5% 0% 1.55% 1%; }
    footer .grid-x .copyright {
      padding-left: 10%;
      color: white; }
    footer .grid-x .links a {
      color: white; }
    footer .grid-x .links a:hover {
      color: cornflowerblue; }

#actions-sidebar {
  border-right: cornflowerblue 3px solid;
  min-height: 767px; }
  #actions-sidebar ul {
    list-style: none; }

.card {
  margin: 20% 0%; }

.incidents, .images, .users {
  padding: 2% 10% 2% 5%; }

.email-body {
  Border: red 3px solid; }
